@import "tailwindcss";

:root {
  --background: #172434;
  --foreground: #171d25;
  --highlight : #1a9fff;
  --default-text: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-motiva-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--default-text);
  font-family: Arial, Helvetica, sans-serif;
}
